{% extends "datamart/base.html" %}

{% load staticfiles %}

{% block base_content %}
<div class="row container">
    <h4>Detalhes da Venda</h4>
    <div class="col s12">
        <div class="row">
            <div class="col 12">
                <p><b>Código:</b> {{venda.CODIGO}}</p>
                <p><b>Vendedor:</b> {{venda.CODIGOVENDEDOR.PRIMEIRONOME}} {{venda.CODIGOVENDEDOR.NOMEDOMEIO}} {{venda.CODIGOVENDEDOR.SOBRENOME}}</p>
            </div>
        </div>
        <form method="post" action="">
            {% csrf_token %} 
            {% include 'renders/render_forms.html' %}
            <div class="row">
                <button class="right waves-effect waves-light btn-large black-text" type="submit" name="action">Modificar</button>
                <a class="right waves-effect waves-light btn-large black-text" href="{% url 'delete_venda' venda.CODIGO %}">Deletar</a>
                <a class="right waves-effect waves-light btn-large black-text" href="{% url 'detalhes_produto' venda.CODIGO %}">Ver produtos</a>
                <a class="right waves-effect waves-light btn-large black-text" href="{% url 'listar_vendas' %}">Voltar para a Lista de Vendas sem salvar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/css/select2.min.css" rel="stylesheet" />
<link href="{% static 'css/custom-select2.css' %}" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/js/select2.min.js"></script>
<script type="text/javascript">
$('select').select2({
    width: "",
});
</script>
{% endblock %}
