{% extends "datamart/base.html" %}

{% load staticfiles %}

{% block base_content %}
<div class="row container">
    <h4>Detalhes da Venda (Produtos)</h4>
        <div class="row">
            <div class="col s12">
                <p><b>Código:</b> {{venda_id}}</p>
            </div>
        </div>
        <div class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Preço Unitário</th>
                        <th>Desconto</th>
                        <th>Total</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos_venda %}
                        <tr>
                            <td>{{ produto.CODIGOPRODUTO.NOMECONCATENADO }}</td>
                            <td>{{ produto.QUANTIDADE }}</td>
                            <td>{{ produto.PRECOUNITARIO }}</td>
                            <td>{{ produto.DESCONTO }}</td>
                            <td>{{ produto.TOTAL }}</td>
                            {% with cod=produto.CODIGOPRODUTO.CODIGO %}
                            <td><a href="{% url 'alterar_produto' venda_id cod %}"><i class="material-icons">edit</i></a></td>
                            <td><a href=""><i class="material-icons">close</i></a></td>
                            {% endwith %}

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <form method="post" action="">
            {% csrf_token %} 
            {% include 'renders/render_forms.html' %}
            <div class="row">
                <p>Preço: <span id="totalprice">0,00</span></p>
            </div>
            <div class="row">
                <button class="right waves-effect waves-light btn-large black-text" type="submit" name="action">Incluir Produto</button>
            </div>
        </form>
        <div class="row">
            <a class="right waves-effect waves-light btn-large black-text" href="{% url 'detalhes_venda' venda_id %}">Voltar para a venda</a>
        </div>
</div>
{% endblock %}

{% block extrajs %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/css/select2.min.css" rel="stylesheet" />
<link href="{% static 'css/custom-select2.css' %}" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/js/select2.min.js"></script>
<script type="text/javascript">
$('select').select2({
    width: "",
});

pricelist = {
    {% for produto in produtos_precos %}
    "{{produto.0}}": {{produto.1}},
    {% endfor %}
}

$('#id_desconto').prop('step', '0.05').val(0);

$('#id_codigoproduto').on("select2:select", function (e) {
    $('#id_desconto').val(0);
    $('#id_quantidade').val(1);
    $('#totalprice').text(pricelist[$(this).val()]);
});

$('#id_quantidade').val(1);

$('#id_quantidade').keyup(function() {
    $('#totalprice').text(pricelist[$('#id_codigoproduto').val()] * (1 - $('#id_desconto').val()) * $(this).val());
});

$('#id_desconto').keyup(function() {
    $('#totalprice').text(pricelist[$('#id_codigoproduto').val()] * (1 - $(this).val()) * $('#id_quantidade').val());
});

$('#totalprice').text(pricelist[$('#id_codigoproduto').val()] * (1 - $('#id_desconto').val()) * $('#id_quantidade').val());

</script>
{% endblock %}
