# Dependências extras para serem instaladas antes:
# - `libfontconfig` ou `fontconfig`, depende do seu sistema
# - `wkhtmltopdf` (Se der problema, leia https://github.com/incuna/django-wkhtmltopdf#installation)
#
django==1.8.5
cx_Oracle==5.2
django-wkhtmltopdf==2.0.3
